<div class="connection">

    <svg xmlns="http://www.w3.org/2000/svg" class="" xmlns:xlink="http://www.w3.org/1999/xlink" width="99" height="86" viewBox="0 0 99 86">
        <defs>
            <path id="i3qqq90ova" d="M98.789 24.548c-1.9-1.435-20.81-16.884-49.135-16.884-5.572 0-10.764.59-15.576 1.604l42.719 42.718 21.992-27.438zM13.394.53L7.442 6.482l8.654 8.653C7.062 19.315 1.49 23.79.52 24.548l49.134 61.208L66.16 65.198l14.014 14.015 5.952-5.952L13.395.53z"/>
        </defs>
        <g fill="none" fill-rule="evenodd">
            <g>
                <g transform="translate(-671 -416) translate(671 416)">
                    <use fill="#A8ADB7" fill-rule="nonzero" xlink:href="#i3qqq90ova"/>
                </g>
            </g>
        </g>
    </svg>

    <p>Couldn’t connect to internet, Please check your network settings.</p>
</div>